html,
body {
    margin: 0;
}

.wrap {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.editor {
    flex: 1;

    display: flex;
    flex-direction: row;

    .Main {
        width: 1000px;
        border-right: 1px solid #000;
    }

    .Properties {
        flex: 1;
    }
}